      .ph-wrapper {
        display: flex;
        justify-content: center;
      }
      .ph-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        padding: 30px 0;
      }

      .ph-title {
        padding-bottom: 16px;
        font-family: Verdana,sans-serif;
      }

      .ph-button {
        display: inline-block;
        width: 80%;
        height: 25px;
        line-height: 25px;
        max-width: 250px;
        padding: 14px 25px;
        margin-bottom: 8px;
        
        background-color: #f44336;
        color: #FFFFFF;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        font-family: Verdana,sans-serif;
      }
      .ph-button:last-of-type {
        margin-bottom: 8px;
      }
      .ph-button--ginmon {
        background-color: #0083bc;
      }
      .ph-button--keep {
        background-color: #fb0;
      }
      .ph-button--github {
        background-color: #24292e;
      }
      .ph-button--twitter {
        background-color: #1DA1F2;
      }
      .ph-button--d {
        background-color: #44b336;
      }
      .ph-button--db {
        background-color: #f01414;
      }
      .ph-button--art {
        background-color: #36A3B7;
      }
      .ph-button--dhelper {
        background-color: #51a351;
      }
      .ph-button--douban {
        color: #614e3c;
        background-color: #f6f6f1;
      }
      .ph-button--mtime {
        background-color: #1e7dd7;
      }
      .ph-button--xiami {
        background-color: #FA8723;
      }
      .ph-button--weibo {
        background-color: #4d7a95;
      }
      .ph-button--xiaoya {
        background-color: #0078a5;
      }
      .ph-button--duonao {
        background-color: #e93c1a;
      }
      .ph-button--bilibili {
        background-color: #ffafc9;
      }
      .ph-button--fenglin {
        background-color: #fb8c00;
      }
      .ph-button--163 {
        background-color: #31a030;
      }
      .ph-button--youtube {
        background-color: #e62117;
      }
      .ph-button--imdb {
        background-color: #f3ce00;
      }
      .ph-button--zhihu {
        background-color: #0f88eb;
      }
      .ph-button--slack {
        background-color: rgb(77, 57, 75);
      }
      .ph-button--jira {
        background-color: #3572b0;
      }
      .ph-button--notion {
        background-color: rgb(65, 65, 65);
      }
      .ph-button--box {
        background-color: #0061D5;
      }
      .ph-button--toggl {
        background-color: #f30c16;
      }
      .ph-button--sonar {
        background-color: #262626;
      }
      .ph-button--asana {
        background-color: #fd9a00;
      }
      .ph-button--inbox {
        background-color: #4285f4;
      }
      .ph-button--18 {
        background-color: #0F7884;
        display: none;
      }

      @media screen and (max-width: 567px) {
        .ph-u-no-sm {
          display: none;
        }
        .ph-desktop {
          display: none;
        }
      }

      @media screen and (min-width: 568px) {
        .ph-u-no-bigger-than-sm {
          display: none;
        }
      }